$red: red;
$brown: brown;
$gray: gray;
$black: black;
$tan: tan;
$whitesmoke: whitesmoke;
$maroon: maroon;
$slategray: slategray;
$sienna: sienna;
$white: white;
$orange: orange;
$moccasin: moccasin;
$chocolate: chocolate;
$lightgray: lightgray;
$darkgray: darkgray;
$lightslategray: lightslategray;