#main{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    height:100%;
    #profiles {
        border:1px solid black;
        display:flex;
        flex-direction:row;
        justify-items: center;
        height:50%;
        .images {
            img {
                width:25%;
            border:1px solid black;
            }   
        }
    }
    #display {
        border:1px solid black;
        display:flex;
        flex-direction: row;
        height:50%;
        img {
            width:10%;
            height:10%;
        }
    }
}