
  #image-wrapper {
    height: 300px;
    width: 300px;
    margin-top: -1208;
    margin-left: 32;
    background-color: white;
    border: 3px solid #494949;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 0 5px midnightblue;
    -webkit-box-shadow: 0 0 5px midnightblue;
  }

 #pokemon img {
   display: block;
   height: auto;
   width: 35%;
   margin-top: -280px;
   margin-left: 50px;
 }